*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bg-color: #fff;
	--font-color: #030303;
	--link-color: #606060;
	--link-hover: #ffffff;
	--link-bg-hover-color: #f2f2f2;
	--border-color: #aaa;
	--bg-hover: rgba(242, 242, 242, 0.7);
	--red: #ff0000;
	--input-bg: #ffffff;
}

[data-theme='dark'] {
	--bg-color: #202020;
	--font-color: #fff;
	--link-color: #aaaaaa;
	--link-hover: #ffffff;
	--link-bg-hover-color: #383838;

	--border-color: #383838;
	--bg-hover: rgba(56, 56, 56, 1);
	--input-bg: #121212;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	background-color: var(--bg-color);
	color: var(--font-color);
}

.wrapper {
	max-width: 100vw;
	height: 100%;
	display: grid;
	grid-template-areas:
		'theme theme theme'
		'mainHeader mainHeader mainHeader'
		'verticalMenu content content';
}

/* start of theme */

.theme {
	grid-area: theme;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	/* outline: 1px dashed red; */
	padding: 1rem;
}

#checkbox-theme {
	position: absolute;
}

.label-theme {
	/* outline: 1px dashed red; */
	position: relative;
	/* width: 5rem; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--border-color);
	width: 50px;
	height: 25px;
	padding: 5px;
	border-radius: 50px;
	transform: scale(1.15);
}

.circle-theme {
	position: absolute;
	left: 3px;
	width: 20px;
	height: 20px;
	width: 1rem;
	background-color: var(--border-color);
	border-radius: 50%;
	transition: all 0.15s linear;
}

#checkbox-theme:checked+.label-theme+.circle-theme {
	/* position: absolute; */
	/* left: 20px; */
	transform: translateX(24px);
}

#checkbox-theme:checked+.label-theme {
	/* background-color: #878787; */
}

.theme-icon {
	color: var(--border-color);
}

.fa-sun {
	color: yellow;
}

.fa-moon {
	color: orange;
}

.logo {
	color: var(--red);
	font-size: 2rem;
}

/* end of theme */

/* .theme-icon:nth-child(2) {
	margin-left: 10px;
} */

.main-header {
	grid-area: mainHeader;
	border-bottom: 1px solid var(--border-color);
	display: flex;
	/* outline: 1px dashed red; */
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0;
}

.main-header--logo {
	display: flex;
	align-items: center;
	/* justify-content: ; */
	/* outline: 1px dashed red; */
	padding-left: 2.5rem;
}

.main-header--logo>i:nth-child(2) {
	padding-left: 0.5rem;
}

.main-header-search {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-header-search input {
	background-color: var(--input-bg);
	border: 1px solid var(--border-color);
	border-right: none;
	width: 35rem;
	height: 2.5rem;
	padding: 0 0.5rem;
}

.main-header-search .fa-keyboard {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
	font-size: 1.2rem;
	background-color: var(--input-bg);
	border: 1px solid var(--border-color);
	border-left: none;
}

.main-header-search button,
.main-header-search .fa-microphone {
	width: 4rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-hover);
	border: 1px solid var(--border-color);
	border-left: none;
	color: var(--font-color);
	font-size: 1.2rem;
}

.main-header-search .fa-microphone {
	background-color: var(--input-bg);
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	border: none;
	margin-left: 0.5rem;
}

.user-menu {
	display: flex;
	justify-content: center;
	/* outline: 1px dashed red; */
}

.user-menu-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 4rem;
	height: 2.5rem;
	/* outline: 1px dashed blue; */
}

.user-menu-icon>i {
	display: block;
	margin: auto;
	/* outline: 1px dashed red; */
}

.user-menu-icon>i:hover+.tooltip--hidden {
	opacity: 1;
}

.tooltip-description {
	font-size: 0.9rem;
}

.tooltip--hidden {
	opacity: 0;
	position: absolute;
	bottom: -3rem;
	background-color: rgba(56, 56, 56, 0.7);
	padding: 0.4rem 0.8rem;
	/* display: none; */
}

.user-menu>* {
	font-size: 1.2rem;
	padding-right: 1rem;
}

.user-menu .fa-video {
	/* position: relative; */
}

.tooltip-header {
	/* position: absolute; */
	/* top: 3rem; */
}

.vertical-nav {
	grid-area: verticalMenu;
	width: 20vw;
}

.vertical-nav--hidden {
	display: none;
	/* transition: all 0.5 ease-in-out; */
}

.vertical--menu {
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 0.5rem;
}

.vartical--item {
	padding: 1rem 2.5rem;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	/* outline: 1px dashed red; */
}

.vartical--item:hover {
	background-color: var(--bg-hover);
}

.vertical--link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--font-color);
}

.icon {
	font-size: 1.2rem;
	padding-right: 0.3rem;
	/* width: 3rem;
	height: 3rem; */
}

.vertical-nav--description {
	font-size: 0.9rem;
}

.vertical-nav--onlyIcons {}

.content {
	width: 80vw;
	/* outline: 1px dashed red; */
	padding: 1rem;
}

.content .meta-list {
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 0.5rem;
	/* outline: 1px dashed red; */
	/* background: orange; */
	width: 100%;
}

.content .meta-menu {
	display: flex;
	list-style: none;
	/* justify-content: space-between; */
	align-items: center;
	width: 100%;
}

.content .meta-item {
	/* outline: 1px dashed red; */
	margin: 0.6rem 0;
}

.content .meta-menu>.meta-item:nth-child(2) {
	background-color: yellow;
	width: 100%;
}

.content .meta-link {
	background-color: var(--link-bg-hover-color);
	color: var(--link-color);
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	border: 1px solid var(--border-color);
	text-decoration: none;
}

.content .meta-link:hover {
	background-color: var(--link-bg-hover-color);
	color: var(--link-hover);
}

.content .meta-submenu {
	width: 100%;
	display: flex;
	justify-content: space-around;
	list-style: none;
	outline: 1px dashed red;

}

.content .cards-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.content .card {
	outline: 1px dashed red;
	margin: 1rem 0;
}

.card-img {
	width: 100%;
}